{% extends 'layout.html' %}
{% block body %}
 
  <main role="main">


    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

          <!-- Diabetic Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/diabetic"> <img  class="img img-responsive" src="https://images.theconversation.com/files/152363/original/image-20170111-6450-fsm2zi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" height="225px" width="100%" />              
                  <h2>Diabetic Prediction</h2>
                </a>
              </div>
            </div>
          </div>
          <!-- Breast Cancer Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/breastcancer"> <img  class="img img-responsive" src="https://images.theconversation.com/files/154957/original/image-20170131-13238-b00n65.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" height="225px" width="100%" />
                </a>
              </div>
            </div>
          </div>
          <!-- Corona Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/corona"> <img  class="img img-responsive" src="https://ec.europa.eu/programmes/creative-europe/sites/default/files/covid19-cdc-unsplash.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Corona Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- Heart Disease Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/heart"> <img  class="img img-responsive" src="https://d2ebzu6go672f3.cloudfront.net/media/content/images/p2_QA_MLJuly19_gi484761271.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Heart Disease Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- liver Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/liver"> <img  class="img img-responsive" src="https://medlineplus.gov/images/LiverDisease.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Liver Disease<br> Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- Kidney Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/pneumonia"> <img  class="img img-responsive" src="https://www.usnews.com/dims4/USNEWS/caea975/2147483647/crop/2000x1333%2B0%2B0/resize/300x300%3E/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F9e%2F3e%2F9ad7dc4847a483af6f9eeadddc33%2F200501-lungscoronavirus-stock.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Pneumonia Disease<br> Prediction</h2>
                </a>
              </div>
            </div>
          </div>

    <center><b><center>Made By <a href="https://www.linkedin.com/in/karan-choudhary-9102b81a0/"> Karan Choudhary </center></a></b></h3></center>

          
        </div>
      </div>
    </div>
  </main>
{% endblock %}